section
  .flex.flex--center
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda est, numquam impedit aut ratione iusto dolore facere quae facilis veritatis molestiae optio id obcaecati qui. Repudiandae eum praesentium ab architecto.
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ut eos, ab eius rerum delectus a recusandae unde, ad repudiandae, distinctio alias magnam odio nesciunt voluptatem error dolorem atque eveniet!


section
  .flex.flex--space-around
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda est, numquam impedit aut ratione iusto dolore facere quae facilis veritatis molestiae optio id obcaecati qui. Repudiandae eum praesentium ab architecto.
    .col-1.order-first
      p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ut eos, ab eius rerum delectus a recusandae unde, ad repudiandae, distinctio alias magnam odio nesciunt voluptatem error dolorem atque eveniet!

section
  .flex.flex--center
    .col-2
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda est, numquam impedit aut ratione iusto dolore facere quae facilis veritatis molestiae optio id obcaecati qui. Repudiandae eum praesentium ab architecto.


section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda est, numquam impedit aut ratione iusto dolore facere quae facilis veritatis molestiae optio id obcaecati qui. Repudiandae eum praesentium ab architecto.
      .col-50
        p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ut eos, ab eius rerum delectus a recusandae unde, ad repudiandae, distinctio alias magnam odio nesciunt voluptatem error dolorem atque eveniet!
