section.youtube#youtube
  .flex.flex--space-around
  
    .col-1
      .video-strip 
      .flex-video <iframe src="https://www.youtube.com/embed/DR9n-vDj-zo" frameborder="0"; allowtransparency="true" onload="this.style.height=(this.contentDocument.body.scrollHeight+45) +'px';" scrolling="no" style="width:100%;border:none;height=auto;"></iframe>
      
    .col-1.order-first
      p.home-lead.outdented BLACKPINK #[br] on youtube
      a(href="https://www.youtube.com/channel/UCOmHUn--16B90oW2L6FRR3A/videos").home-cta Watch on YouTube

    
