section.fanclub#fanclub
  .flex.flex--center
    .col-2
      p.home-lead Join Fan Club
      
      .notes-signup-box.
        <div id ="mc_embed_signup">
          <form action="action_page.php">
            <div class="form-display">
              <div class="mc-field-group">
                <label for="email"><b>Email</b></label>
                <input type="text" name="email" required>
              </div>
              
              <div class="mc-field-group">
                <label for="psw"><b>Password</b></label>
                <input type="password" name="psw" required>
              </div>
        
              <input type="submit" class="signupbtn">
            </div>
          </form>
        </div>
      

        
      

  .flex.flex--center
    .col-1
      p  The fan club is called “BLINK.” The cute name is derived from a shortened combination of the words “black” and “pink.”
      
    .col-1
      p  Become a BLINK
      ul
        li <a href=''>Register</a>
        li <a href=''>Schedule</a>
        li <a href=''>Instagram</a>
