section.spotify#spotify
  .flex.flex--center
    .col2
      p.home-lead Listen on Spotify
        .spotify-logo
          img(src='/BLACKPINK/assets/img/spotify-logo-1.png' style='border-radius: 10px; width=10%;')
      
      
      .spotify-content
        .spotify-thumb
          img(src='/BLACKPINK/assets/img/spotify-bp.jpg' style='border-radius: 10px;')
          
        .spotify-text
          .player <iframe width="auto" height="100px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/290812196&color=%232fd566&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  .flex.flex--center
    .col-1
      a(href="#").home-cta.web Website
      
    .col-1
      a(href="#").home-cta.log Log In
      

        
