<section id="fanclub" class="fanclub"><div class="flex flex--center"><div class="col-2"><p class="home-lead">Join Fan Club</p><div class="notes-signup-box"><div id ="mc_embed_signup">
  <form action="action_page.php">
    <div class="form-display">
      <div class="mc-field-group">
        <label for="email"><b>Email</b></label>
        <input type="text" name="email" required>
      </div>
      
      <div class="mc-field-group">
        <label for="psw"><b>Password</b></label>
        <input type="password" name="psw" required>
      </div>

      <input type="submit" class="signupbtn">
    </div>
  </form>
</div>




</div></div></div><div class="flex flex--center"><div class="col-1"><p> The fan club is called “BLINK.” The cute name is derived from a shortened combination of the words “black” and “pink.”</p></div><div class="col-1"><p> Become a BLINK</p><ul><li><a href=''>Register</a></li><li><a href=''>Schedule</a></li><li><a href=''>Instagram</a></li></ul></div></div></section>